@media (max-width: 1040px) {
	.contact-card h2 {
		font-size: 42px;
	}
	.get-in-touch .contact-card {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

/* ========== Адаптація для планшетів (max-width: 991px) ========== */
@media (max-width: 991px) {
	.get-in-touch-link {
		margin: 5px;
	}

	.footer-wrapper {
		display: flex;
		flex-direction: column;
	}

	.about-group {
		margin: 0 auto;
		padding-bottom: 50px;
		text-align: center;
	}

	.info-group {
		padding-bottom: 50px;
	}

	.header-wrapper {
		padding: 15px 0;
	}

	.nav-ul-menu {
		gap: 30px;
	}

	.home-wrapper {
		flex-direction: column;
		text-align: center;
		gap: 30px;
	}

	.home-info h1 {
		font-size: 40px;
	}

	.home-info h3 {
		font-size: 18px;
	}

	.home-img img {
		width: 70%;
		margin: 0 auto;
	}

	.about-wrapper {
		flex-direction: column;
		text-align: center;
	}

	.proffesional-list {
		flex-direction: column;
		row-gap: 15px;
	}

	.skills-info {
		flex-direction: column;
		align-items: center;
	}

	.services-list {
		justify-content: center;
	}

	.media-icons {
		display: flex;
		flex-direction: row !important;
	}

	.fa-brands {
		padding-right: 20px;
	}

	.client-swipper .swiper-slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5px;
		margin: 5px;
		margin-left: 0;
	}
}

.clent-details p {
	font-size: 16px;
	color: var(--third-color);
	margin-left: 15px;
	margin-bottom: 20px;
	border-bottom: 2px solid var(--liner-color);
}

.swiper-button-next,
.swiper-button-prev {
	margin-top: 40px;
}

/* ========== Адаптація для телефонів (max-width: 768px) ========== */
@media (max-width: 768px) {
	.nav-menu-btn {
		display: block;
		position: relative;
		z-index: 5;
		width: 40px;
		height: 40px;
		background: url('../img/burger.svg') no-repeat center / contain;
		cursor: pointer;
		transition: 0.3s linear;
		-webkit-transition: 0.3s linear;
		-moz-transition: 0.3s linear;
		-ms-transition: 0.3s linear;
		-o-transition: 0.3s linear;
	}

	.nav-menu-btn.close {
		background: url('../img/close.svg') no-repeat center / contain;
	}

	.nav {
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		align-items: center;
		background: var(--bg-transparent-color-01);
		visibility: hidden;
		opacity: 0;
		z-index: -1;
		transition: 0.3 linear;
		-webkit-transition: 0.3 linear;
		-moz-transition: 0.3 linear;
		-ms-transition: 0.3 linear;
		-o-transition: 0.3 linear;
	}

	.nav.active {
		z-index: 3;
		opacity: 1;
		visibility: visible;
	}

	.contact-wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.header-wrapper {
		padding: 10px 0;
	}

	.nav-ul-menu {
		position: relative;
		flex-direction: column;
		max-width: 600px;
		width: 100%;
		margin: 20px;
		padding: 40px;
		background: var(--modal-bg-color);
		border-radius: 10px;
		transform: translateY(-50%);
		transition: 0.3 linear;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-webkit-transition: 0.3 linear;
		-moz-transition: 0.3 linear;
		-ms-transition: 0.3 linear;
		-o-transition: 0.3 linear;
	}

	.nav-ul-menu li {
		text-align: center;
	}

	.nav-ul-menu.active {
		transform: translateY(0%);
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
		-ms-transform: translateY(0%);
		-o-transform: translateY(0%);
	}

	.home-info h1 {
		font-size: 32px;
	}

	.home-info h3 {
		font-size: 16px;
	}

	.home-info p {
		max-width: 100%;
	}

	.about-img img {
		max-width: 80%;
		margin: 0 auto;
	}

	.inner-title {
		font-size: 40px;
	}

	.inner-second-title {
		font-size: 20px;
	}

	.services-list .service-card {
		max-width: 100%;
		padding: 30px;
	}

	.education {
		width: 100%;
	}

	.experiens-card {
		width: 100%;
	}

	.swiper-button-next,
	.swiper-button-prev {
		margin-top: 140px;
	}
}

/* ========== Дуже малі телефони (max-width: 480px) ========== */
@media (max-width: 480px) {
	.contact-card .title {
		margin-bottom: 5px;
	}

	.contact-wrapper {
		display: flex;
		justify-content: space-around;
		width: 100%;
		gap: 10px;
		margin: 0 auto;
		flex-direction: column;
	}

	.info-group ul,
	.follov-group ul {
		display: flex;
		gap: 25px;
		flex-wrap: wrap;
		margin: 10px;
		justify-content: center;
		margin-right: 10px;
		margin-left: 10px;
	}

	.second-row {
		flex-direction: column;
	}
	.second-row input {
		width: 100%;
	}

	body {
		font-size: 14px;
	}

	.home-info h1 {
		font-size: 26px;
	}

	.inner-info-link {
		padding: 15px 20px;
		font-size: 14px;
	}

	.scroll-down {
		font-size: 14px;
		width: auto;
	}

	.proffesional-list .list-item .number {
		font-size: 28px;
	}

	.services-description {
		font-size: 22px;
		margin-bottom: 30px;
	}

	.service-card h3 {
		font-size: 20px;
	}

	.service-card > i {
		font-size: 36px;
	}

	.nav-ul-menu {
		display: flex;
		flex-wrap: wrap;
	}

	.media-icons {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
	}
	.logo {
		margin-right: 20px;
	}

	.get-in-touch .contact-card {
		display: flex;
		flex-direction: column;
	}

	.contact-card .title {
		margin-bottom: 50px;
	}
}
